{% extends "core/base.html" %}

{% block body %}

<body style="background-color:#ececec;">

<div class="d-flex justify-content-center align-items-center vh-100">

    <div style="width:430px; background:white; padding:30px; border-radius:20px; box-shadow:0px 0px 15px rgba(0,0,0,0.2);">

        <h2 class="text-center mb-4">Cadastro</h2>

        <form method="POST">
            {% csrf_token %}

            <input class="form-control mb-3"
                type="text"
                name="nome"
                placeholder="Nome Completo"
                required>

            <input class="form-control mb-3"
                type="text"
                name="usuario"
                placeholder="Usuário"
                required>

            <input class="form-control mb-3"
                type="password"
                name="senha"
                placeholder="Senha"
                required>

            <button class="btn btn-dark w-100">
                Cadastrar
            </button>

        </form>

    </div>

</div>

</body>

{% endblock %}