{% extends "core/base.html" %}


{% block body %}

<body style="background-color: rgb(255, 247, 224); margin: 0; height: 100vh;">
    <div style="display: flex; justify-content: center; align-items: flex-end; margin: 0; height: 100vh;">
        <div
            style="width: 90vh; height: 90vh; align-self: flex-end; opacity: 50%; border-top-left-radius: 50px; background-color: rgb(54, 54, 54);">
        </div>
        <br>
        <div
            style="width: 90vh; height: 90vh; background-color: rgb(54, 54, 54); align-self: flex-end; opacity: 100%; padding-top: 50px; border-top-right-radius: 50px;">
            <h2 style="text-align: center; color: rgb(255, 247, 224); font-size: 50;">Bem-Vindo</h2>
            <h1 style="text-align: center; color: rgb(255, 247, 224); font-size: 100; font-style: italic;">
                SOS OS</h1>
            <div style="display: flex; justify-content: center; gap: 12px;">
                <a type="submit" class="btn"
                    style="background-color: rgb(255, 247, 224); color: rgb(54, 54, 54); border: none; font-weight: 600;"
                    href="{% url 'novo_chamado' %}">Novo
                    Chamado</a>
                <a style="background-color: transparent; color: rgb(255, 247, 224); border: 2px solid rgb(255, 247, 224); font-weight: 600; border-radius: 4px; padding: 6px 12px;"
                    href="{% url 'listar_chamados' %}">Lista
                    Chamados</a>
            </div>
        </div>
    </div>
</body>

{% endblock %}