<body style="background-color: rgb(255, 247, 224); margin: 0; height: 100vh;">
    <div style="display: flex; justify-content: center; align-items: flex-end; margin: 0; height: 100vh;">
        <div
            style="width: 90vh; height: 90vh; align-self: flex-end; opacity: 50%; border-top-left-radius: 50px; background-color: rgb(54, 54, 54);">
        </div>
        <div
            style="width: 90vh; height: 90vh; background-color: rgb(54, 54, 54); align-self: flex-end; opacity: 100%; border-top-right-radius: 50px;">
            <h2 style="text-align: center; font-size: 50;">Bem-Vindo</h2>
            <h1 style="text-align: center; font-size: 100; font-style: italic;">
                S.O.S OS</h1>
        </div>
    </div>
</body>